{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "plugin:@typescript-eslint/recommended",
        "@vue/typescript/recommended",
        "prettier"
    ],
    "plugins": ["vue", "@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "vue/no-unused-vars": "error",
        "@typescript-eslint/no-unused-vars": "error"
    }
}