/* TODO import asset styles here */
@import url('./assets/styles/_index.css');

.radio-hover input label  {
    user-select:none;
    cursor: pointer;
}

.radio-hover:hover {
    background-color: var(--peach-300);
}