:root {
    --peach-100: hsl(27, 100%, 94%);
    --peach-200: hsl(27, 100%, 89%);
    --peach-300: hsl(27, 100%, 84%);
    --peach-500: hsl(27, 100%, 70%);

    --pink-600: hsl(335, 82%, 59%);

    --grey-400: hsl(40, 4%, 67%);
    --grey-950: hsl(40, 4%, 12%);
}
